* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    margin-top: 1px;
    font-family: "Montserrat", sans-serif;
}

.whatsapp{
    position: fixed;
    right: 60px;
    bottom: 150px;
    img{
        width: 70px;
    }
}

//COLORES
$color-principal:#38302e;
$color-boton-menu: $color-principal, white ;
$color-header: #f5cec7;

//EXTENDS
%flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//MIXIN

@mixin grid($display, $columns, $rows){
    display: $display;
    grid-template-columns: $columns;
    grid-auto-rows: $rows;
}