.contact{
    height: auto;
    padding: 25px;
    text-align: justify;
    color:#38302e;
    h1{
        text-align: center;
        text-transform: uppercase; 
        background-color: #9e878494;
        color: azure; 
    }
    p {
        text-align: center;
        margin: 20px;
    }
    div{
        margin: 5px;
    }

    .boton-form{
            input{
                color: $color-principal;
                background-color: #9e878494;
                border-color: #9e878494 ;
                border-radius: 5px ;
                padding: 5px;
                font-family: "Montserrat", sans-serif;
                &:hover{
                    background-color: $color-header;
                }
            }
        }
    .form-control:focus {
            border-color: #9e878494; 
            box-shadow: 0 0 5px $color-principal;
        }
    }
