header{
    .menu{
        background-color: $color-header !important;
        z-index: 1 !important;
    }

    nav{
        img{
            width: 80px;
            height: 80px;
        }
        form{
            .boton-menu{
                border: 2px solid nth($color-boton-menu,3);
                border-radius: 5px;
                color: nth($color-boton-menu,1);
                &:hover{
                    background-color: nth($color-boton-menu,4);
                    color: nth($color-boton-menu,2);
                    border: 2px solid nth($color-boton-menu,4);
                }
            }
        }
    }
}