header{
    .menu{
        background-color: $color-header !important;
        z-index: 1 !important;
    }

    nav{
        img{
            width: 80px;
            height: 80px;
        }
        form{
            .boton-menu{
                border: 1px solid rgb(84, 124, 84);
                border: 2px solid #d6b1ab;
                border-radius: 5px;
                color: nth($color-boton-menu,1);
                &:hover{
                    background-color: #ce9990;
                    color: nth($color-boton-menu,2);
                    border: 2px solid #ce9990;
                }
            }
        }
    }
}