.banner{
    width: 100%;
    height: 70vh;
    padding: 20px;
    color: nth($color-boton-menu,1);
    text-align: center;
    background-image: url(../img/cole-keister-ZN9LhLYCVko-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    @extend %flex ;
    flex-direction: column;
    
    h1{
        color: $color-h1;
        border: 2px solid $color-h1;
        font-size: 50px;
        font-weight: bold;
        padding: 20px;
        margin: 30px;
    }
    p{
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        width: 1000px;
        padding: 20px;
        background-color: $color-fondo;
    }
    a{ 
        text-decoration: none;
        background-color: $color-h1;
        color: nth($color-boton-menu,2);
        border: 1px solid $color-header;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        transition: 1s;
        &:hover{
            background-color: $color-header;
            color: $color-principal;
            border-color: $color-principal;
        }
    }
}

.carousel{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    .carousel-item{
        .carousel-caption{
            color: nth($color-boton-menu,1);
            background-color: rgba(240, 255, 255, 0.651);
        }
    }
}

.galeria_grid{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    grid-template-areas: 
    "maceta tecnica"
    "beneficios almohadon"
    "materiales-img materiales";
    .maceta{
        grid-area: maceta;
    }
    .tecnica{
        grid-area: tecnica;
    }
    .beneficios{
        grid-area: beneficios;
    }
    .almohadon{
        grid-area: almohadon;
    }
    .materiales-img{
        grid-area: materiales-img;
    }
    .materiales{
        grid-area: materiales;
    }
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .grid_item{
        position: relative;
        h3{
            color:$color-principal;
            width: 100%;
            top: 0;
            padding: 10px;
            text-align: center;
            font-size: 25px;
        }
    }
    .texto-flex{
        @extend %flex;
        p{
            font-size: 18px;
            margin-left: 50px;
            margin-right: 50px;
            width: 600px;
            text-align: center;
        }
    }
}
.mas-vendidos{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    @include grid(grid, repeat(5, 1fr), 400px );
    gap: 15px;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .mas-vendidos-item{
        position: relative;
        margin: 20px;
        transition: 1s;
        &:hover{
            transform: scale(1.05);
            transform: scale(1.05);
            -webkit-box-shadow: -2px 7px 14px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -2px 7px 14px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -2px 7px 14px 0px rgba(0,0,0,0.75);
        
        }
        h3{
            position: absolute;
            background-color: $color-encabezado;
            color: azure;
            width: 100%;
            top: 0;
            padding: 10px;
            text-align: center;
        }
        a{
            position: absolute;
            background-color: $color-encabezado;
            color: azure;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 10px;
            text-align: center;
            text-decoration: none;
        }
    }
}

.mas-vendidos-h2{
    margin-top: 25px;
    text-align: center;
    color: $color-principal;
    background-color: $color-encabezado;
    color: azure;
    text-transform: uppercase;
    padding: 15px;
}